@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}
.main-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 15, 0.8), rgb(50, 0, 63, 0.8)), url(/Img/bg.jpg);
    background-size: cover;
    background-position: center, top;
    position: relative;
    color: rgb(243, 243, 243);
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin-left: 130px;
    gap: 1%;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(104, 104, 230);
}
.hero {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}
.signup-desc {
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
}
.signup-desc h1 {
    font-size: 50px;
}
.let {
    letter-spacing: 2px;
}
.desc {
    margin: 15px 0;
}
a {
    text-decoration: none;
    color: rgb(104, 104, 230);
}
h1 span {
    color: rgb(104, 104, 230);
}
.input-fields {
    margin: 40px 0;
}
.name-input {
    display: flex;
}
input {
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    border: none;
}
label {
    margin: 10px;
}
.email-input input {
    width: 28vw;
}
.password-input input {
    width: 28vw;
}
.btn {
    display: flex;
    align-items: center;
    margin: 10px 10%;
}
button {
    height: 40px;
    width: 20%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(104, 104, 230);
}